<div class="content">
    <div class="card">
        <div class="card-header">
            <h5>Ürün ekle</h5>
        </div>
        <div class="card-body">
            <form [formGroup]="productAddForm">
                <div class="mb-3">
                    <label>Ürün adı</label>
                    <input type="text" placeholder="Ürün adı" formControlName="name" class="form-control" />
                </div>
                <small *ngIf="productAddForm.get('name')?.hasError('required')" class="form-text text-muted">
                    Ürün adı zorunludur
                </small>
                <small *ngIf="productAddForm.get('name')?.hasError('minlength')" class="form-text text-muted">
                    Ürün adı minimum 2 karakter olmalıdır
                </small>
                <div class="mb-3">
                    <label>Kategori</label>
                    <input type="text" placeholder="Kategori" formControlName="categoryId" class="form-control" />
                </div>
                <div class="mb-3">
                    <label>Fiyat</label>
                    <input type="number" placeholder="Fiyat" formControlName="unitPrice" class="form-control" />
                </div>
                <div class="mb-3">
                    <label>Stok adedi</label>
                    <input type="number" placeholder="Stok adedi" formControlName="unitsInStock" class="form-control" />
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button [disabled]="!productAddForm.valid" class="btn btn-success" (click)="add()">Ekle</button>
        </div>
    </div>
</div>